.nav-list {
  list-style: none;
}

.nav-list li:first-child a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-list li:first-child a:hover,
.nav-list li:first-child a:focus {
  color: #404bbf;
}

.default-link {
  color: black;
  text-decoration: none;
}

.default-list {
  list-style: none;
}

.address {
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

h1 {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.button {
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.spanlogo {
  color: #2e2f42;
}

button:focus,
a:focus {
  outline: 2px solid #404bbf;
}

button:active,
a:active {
  background-color: #0056b3;
}

button:hover,
a:hover:hover {
  color: #404bbf;
}

.logo {
  color: #4d5ae5;
}

.section-1 {
  background-color: #2e2f42;
  font-family: 'Roboto', sans-serif;
}

.section4 {
  background-color: #f4f4fd;
}
.ourteam {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.s4header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.s4paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.s4list {
  background-color: #ffffff;
}
