body{
font-family: Roboto ,sans-serif;
color:  #434455;
background-color: #FFFFFF;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    --font-family: Arial, sans-serif;
    --base-font-size: 16px;}

.logo{
    font-family: raleway;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.spanlogo{
    color: #2e2f42;
}

button:focus, 
a:focus{
  outline: 2px solid #404bbf;
  
}

button:active, 
a:active{
  background-color: #0056b3;

}

button:hover, 
a:hover:hover {
  color: #404bbf;
  

}

.logo{
    color: #4d5ae5;
}

.section1{
    background-color: #2e2f42;
}


.section4{
    background-color: #F4F4FD;

}
.ourteam{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.s4header{

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.s4paragraph{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.s4list{
    background-color: #FFFFFF;
}