.list {
  list-style: none;
}

.address {
  font-style: normal;
}

.contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.list-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.link {
  text-decoration: none;
}

.item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.link:focus,
.link:hover {
  color: #404bbf;
}

h1 {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.button {
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

:root {
  --font-family: 'Arial', sans-serif;
  --base-font-size: 16px;
  --slate: #434455;
  --iris: #4d5ae5;
  --white: #ffffff;
  --navy-blue: #2e2f42;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
}

.logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
}

.spanlogo {
  color: #2e2f42;
}

.logofooter {
  color: #f4f4fd;
}

.footer {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: 'Roboto', sans-serif;
  background-color: #2e2f42;
}

.footerp {
  color: #f4f4fd;
}

.section-one {
  background-color: #2e2f42;
  font-family: 'Roboto', sans-serif;
}

.header {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}

.section4 {
  background-color: #f4f4fd;
}
.ourteam {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section2-header {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-weight: 500;
}

.s2paragraph {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section3-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.s4header {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
}

.s4paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.s4list {
  background-color: #ffffff;
}
